<div class="loginPage">
  
  <div class="minimize-icon" (click)="minimizeWindow()">
    <i class="fa fa-minus font-size-15 white-fg"></i>
  </div>

  <div class="movable-top-border h-30"></div>
  <!-- Logo -->
  <div fxLayout="row" fxLayoutAlign="center center" class="mb-25" fxFill>
    <div class="logo-container">
      <img src="assets/images/logos/geeks-logo-vertical.png" id="geeksLogo">
    </div>
  </div>

  <!-- Video Background -->
  <video webkit-playsinline loop id="bg-video" onloadedmetadata="this.muted = true" oncanplay="this.play()">
    <source src="assets/backvideo.mp4" type="video/mp4">
  </video>
  <div class="video-overlay"></div>
  <div class="video-darker"></div>

  <div class="login-slide-inner" [@fadeIn] id="login-form" *ngIf="!showSignupForm && !showOnboarding && !showProceedMsg">
    <!-- INPUTS -->
    <form class="login-inputs-form">
      <!-- Email -->
      <mat-form-field class="email-wrapper login-slide-input-wrapper">
        <i matPrefix class="input-icon fa fa-envelope"></i>
        <input matInput class="login-input" name="email" placeholder="Email" type="email" [(ngModel)]="email"
              (keyup.enter)="passwordInput.focus()" (input)="checkValidity()">
      </mat-form-field>
      <!-- Password -->
      <mat-form-field class="password-wrapper login-slide-input-wrapper">
        <i matPrefix class="input-icon fa fa-lock"></i>
        <input matInput class="login-input" name="password" id="passwordInput" placeholder="Password" type="password"
              [(ngModel)]="password" (keyup.enter)="triggerLogin()" (input)="checkValidity()" #passwordInput>
      </mat-form-field>
    </form>
    <!-- / INPUTS -->
    <!-- OPTIONS & Buttons -->
    <div class="controls">
      <div class="options-wrapper wrapper">
        <!-- Remember Me -->
        <div class="remember-me-wrapper">
          <mat-checkbox class="remember-cb white-fg" [(ngModel)]="rememberUser">Remember Me</mat-checkbox>
        </div>
        <!-- Forgot Password -->
        <!-- <p color-white class="forgot-password control-text">Forgot Password?</p> -->
      </div>
      <!-- Buttons -->
      <div class="login-slide-buttons-group">
        <!-- <button mat-button color="accent" class="login-button" (click)="resetSlide()" *ngIf="false">Back</button> -->
        <button mat-button class="login-button" (click)="triggerLogin()">LOGIN</button>
      </div>
      <!-- SOCIAL LOGIN -->
      <div class="connect-with">OR CREATE NEW ACCOUNT</div>
      <div class="login-slide-buttons-group">
        <button mat-button class="login-button" (click)="showSignupForm = true;">SIGNUP</button>
      </div>

      <button mat-button class="white-fg" style="z-index: 9999;" (click)="clearStorage()">reset</button>

      <!-- / SOCIAL LOGIN -->
    </div>
    <!-- / OPTIONS & Buttons -->
  </div>

  <app-onboarding *ngIf="showOnboarding"></app-onboarding>

  <app-signup (goBack)="hideSignupForm()" (triggerLogin)="login($event)" *ngIf="showSignupForm && !showOnboarding"></app-signup>

  <div class="p-30 m-30 brad-5 white-bg" *ngIf="showProceedMsg">
      <div fxLayout="column" fxLayoutAlign="center center">
          <div fxLayout="row" fxLayoutAlign="start center" class="mt-20" fxFill>
              <i class="fa fa-chevron-circle-right font-size-30 green-fg h-30 w-30 mr-15"></i>
              <h2 class="m-0">Geeks Platform</h2>
          </div>
  
          <div fxLayout="row" fxLayoutAlign="start center" class="mt-5 ml-45" fxFill>
              <i class="icon icon-information-outline font-size-20 h-20 w-20 mr-5" style="color: #4a7488;"></i>
              <h4 style="color: #4a7488;">The application will run in the background</h4>
          </div>

          <div fxLayout="column" fxLayoutAlign="center center" class="mv-25 w-300 ">
              <i class="fa fa-check-circle green-fg font-size-80 h-80 w-80 m-20"></i>
              <span class="font-size-20">You are all set!</span>
          </div>
          
          <!-- <div fxLayout="column" fxLayoutAlign="center center" class="mv-25" fxFill>
              <button class="login-button w-300 ph-15" type="submit" (click)="show()">
                  <i matPrefix class="fab fa-windows mr-5 font-size-20 h-20 w-20 white-fg"></i> Download Software
              </button>
          </div> -->
      </div>
  </div>

</div>
