@import '../../../../src/styles';

.inputs-wrapper {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    padding: 2em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputs-inner-wrapper {
    position: relative;
    padding: 0;
    width: 90%;
}
.inputs-inner-wrapper mat-form-field {
    align-items: center;
    width: 100%;
    margin: 0;
}
.signup-button {
    width: 250px;
    height: 2.5em;
    font-size: 16px;
    margin-bottom: 0.5em;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: $color-orange;
    box-shadow: 0px 0px 56px -5px $color-orange;
}
.email-wrapper,
.password-wrapper {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    width: 100%;
    margin: 1em 0;
}
.input-icon {
    color: white;
    /* margin: 1em; */
    width: 30px;
    height: 25px;
    margin-right: 5px;
    text-align: center;
}

 
.text-input {
    color: white !important;
}

button.signup-button[disabled] {
    background: grey;
    color: lightgrey;
    box-shadow: none;
}

.signup-title {
    text-align: center;
    background-color: rgba(0,0,0,0.45);
    height: 44px;
    line-height: 44px;
    border: 1px solid rgba(255, 255, 255, 0.41)
}

.align-self {
    align-self: center;
}