<div id="signup-form" class="mv-25" fxLayoutAlign="center center" fxLayout="column" fxFill>

  <form [formGroup]="signupForm" autocomplete="off" [@fadeIn] novalidate (ngSubmit)="submitForm()" fxLayout="row wrap"
  fxLayoutAlign="center center" class="inputs-inner-wrapper">

    <h3 class="white-fg signup-title" fxFill>Signup {{ business ? '| ' + business.Business_Name : '' }}</h3>
    <!-- <div *ngIf="business" class="animate-fade-in-out" style="width: 100%; text-align: center;">
      <img src="{{business.Logo_URL}}" style="max-height: 70px; width: auto;">
    </div> -->
    <!-- Email -->

    <mat-form-field fxFlex="50" class="pr-15" fxFill>
      <i matPrefix class="input-icon fa fa-user"></i>
      <input matInput class="login-input" name="name" placeholder="First Name" type="text" formControlName="name"
            (keyup.enter)="lastNameInput.focus()">
        <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>

    </mat-form-field>
    
    <mat-form-field fxFlex="50" class="pl-15" fxFill>
        <i matPrefix class="input-icon fa fa-user"></i>
        <input matInput class="login-input" name="lastName" placeholder="Last Name" type="text" formControlName="lastName"
              (keyup.enter)="emailInput.focus()" #lastNameInput>
        <mat-error *ngIf="hasError('lastName', 'required')">Last name is required</mat-error>
      </mat-form-field>


    <mat-form-field fxFlex="50" class="pr-15">
      <i matPrefix class="input-icon fa fa-envelope"></i>
      <input matInput class="login-input" name="email" placeholder="Email" type="email" formControlName="email"
            (keyup.enter)="phoneInput.focus()" (input)="checkEmail()" #emailInput>
      <mat-spinner diameter="25" [hidden]="!checkingEmail" matSuffix></mat-spinner>
      <i matSuffix class="green-fg fa fa-check font-size-20 align-self" [hidden]="checkingEmail || !business"></i>
      <i matSuffix class="red-fg fa fa-times font-size-20 align-self" [hidden]="!businessNotFound || checkingEmail"></i>
      <mat-error *ngIf="hasError('email', 'notFound')">Could not identify the business, please try again</mat-error>
      <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
      <mat-error *ngIf="hasError('email', 'email')">Email is not valid</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="50" class="pl-15">
      <i matPrefix class="input-icon fa fa-mobile-alt"></i>
      <input matInput class="login-input" name="phone" placeholder="Phone" type="text" formControlName="phone"
            (keyup.enter)="passwordInput.focus()" #phoneInput>
        <mat-error *ngIf="hasError('phone', 'minLength')">Phone should be 10 numbers or more</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex="50" class="pr-15">
      <i matPrefix class="input-icon fa fa-key"></i>
      <input matInput class="login-input" name="password" placeholder="Password" type="password" formControlName="password"
            (keyup.enter)="passwordConfInput.focus()" #passwordInput>
        <mat-error *ngIf="hasError('password', 'required')">Password is required</mat-error>
        <mat-error *ngIf="hasError('password', 'minlength')">Password should be at least 6 characters</mat-error>
      </mat-form-field>
  <!-- Password -->
    <mat-form-field fxFlex="50" class="pl-15">
      <i matPrefix class="input-icon fas fa-check-double"></i>
      <input matInput class="login-input" name="passwordConf" placeholder="Confirm Password" type="password" formControlName="passwordConf" (blur)="checkPasswords()" #passwordConfInput>
        <mat-error *ngIf="hasError('passwordConf', 'required')">Confirm password is required</mat-error>
        <mat-error *ngIf="hasError('passwordConf', 'notMatching')">Password confirmation is not matching</mat-error>
      </mat-form-field>

    <div fxLayout="row" class="mt-25">
      <button class="signup-button mr-15" (click)="goToLogin()">Back</button>
      <button class="signup-button ml-15" type="submit" [disabled]="!signupForm.valid">Register</button>
    </div>

  </form>
</div>
