/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "/assets/css/variables.scss";
@import "/assets/css/helpers.scss";
@import "/assets/css/animations.scss";
@import "/assets/css/typography.scss";
@import "/assets/css/colors.scss";

// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $geeks-primary: mat-palette(#05b9de);
// $geeks-accent: mat-palette(#fc3f1d);

// // The warn palette is optional (defaults to red).
// $geeks-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $geeks-theme: mat-light-theme($geeks-primary, $geeks-accent, $geeks-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($geeks-theme);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid lightgrey;
}

@font-face {
  font-family: gotham;
  src: url("assets/fonts/Gotham/Gotham-Book.otf") format("opentype");
}

* :not(i, mat-icon) {
  font-family: gotham, Verdana, Geneva, Tahoma, sans-serif;
}

button {
  cursor: pointer;
}

.main-color {
  color: #fc3f1d;
}

.main-color-bg {
  background-color: #fc3f1d;
}

$xs: 0px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
// Global CSS Variables
$color-orange: #fc3f1d;
$color-lightgray: #fafafa;
$color-midgray: #efefef;
$color-darkgray: #606060;
$color-blue: #49b3db;
$color-green: #8fbb6e;
$color-red: #d90303;
$menu-width: 100px;

[hidden] {
  display: none !important;
}

#login-form, #signup-form, #onboarding-form {

  .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: rgba(255, 255, 255, 0.6);
  }
  
  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .mat-form-field-underline .mat-form-field-ripple {
    background-color: $color-orange !important;
  }
  
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field.mat-focused .mat-form-field-label {
    color: $color-orange;
  }
  
  .mat-form-field-infix {
    color: white;
    font-size: 14px;
  }
  
  .mat-checkbox-frame {
    border-color: rgba(255, 255, 255, 0.6);
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: $color-orange;
  }

  .login-button {
    width: 40%;
    height: 3em;
    font-size: 16px;
    margin-bottom: 0.5em;
    border-radius: 20px;
    border: 0;
    color: white;
    background-color: $color-orange;
    box-shadow: 0px 0px 56px -5px $color-orange;
  }

  .mat-form-field-suffix{
    align-self: center;
  }

}

.spennerImg {
  width: 65px;
}

.geeks-spinner {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
  display: flex;
  place-content: center;
  align-items: center;
  align-content: center;
}

.progress-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: black, $alpha: 0.75);
  z-index: 999999;
}

.progress-container-inner {
  position: relative;
  width: 85%;
  max-width: 400px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 12px;
  padding-top: 0.5em;
}

.progress-container span {
  color: black;
  margin-bottom: 0.5em;
}

progress-bar {
  width: 95%;

  .progress-outer {
    height: 30px;
  }

  .progress-inner {
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mat-progress-spinner circle, .mat-spinner circle{
  stroke: $color-orange;
}

.geeks-loader {
  border-radius: 50%;
  border-top: 2px solid #02c1e2;
  width: 150px;
  height: 150px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.geeks-wrapper {
  background-image: url('assets/images/logos/geeks-logo.svg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  width: 152px;
  height: 152px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fa-spin {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

@keyframes fa-spin {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}
